{{ template "header"}}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			{{ template "nav" }}
			<div class="jumbotron">
				<h1>
					更新历史
				</h1>
				<div>
                    <p>2021-12-16</p>
                    <p>预测生成的时候，记录对应的期号，方便之后的统计。</p>
                    <br/>
					<p>2021-12-03</p>
                    <p>第一版出来啦</p>
				</div>
			</div>
		</div>
	</div>
</div>

{{ template "footer"}}